<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
    <!-- Header Section -->
    <div class="flex items-center justify-between pb-6">
      <div>
        <h2 class="font-semibold text-gray-700">User Accounts</h2>
        <span class="text-xs text-gray-500">View accounts of registered users</span>
      </div>
      <div class="flex items-center justify-between">
        <div class="ml-10 space-x-8 lg:ml-40">
          <button class="flex items-center gap-2 rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white focus:outline-none focus:ring hover:bg-blue-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
            </svg>
            CSV
          </button>
        </div>
      </div>
    </div>
  
    <!-- Table Container -->
    <div class="overflow-y-hidden rounded-lg border">
      <div class="overflow-x-auto">
        <div class="mb-4">
          <button 
            (click)="addNewRow()"
            class="rounded-md bg-blue-600 px-4 py-2 text-white hover:bg-blue-700">
            Add New User
          </button>
        </div>
        <table class="w-full">
          <!-- Table Header -->
          <thead>
            <tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
              <th class="px-5 py-3">ID</th>
              <th class="px-5 py-3">Full Name</th>
              <th class="px-5 py-3">User Role</th>
              <th class="px-5 py-3">Email</th>
              <th class="px-5 py-3">Status</th>
              <th class="px-5 py-3 text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="text-gray-500">
            @if (isAddingNew()) {
              <tr app-user-detail 
                  [isNew]="true" 
                  [user]="emptyUser" 
                  (userAdded)="onUserAdded($event)"
                  (cancelAdd)="cancelAdd()">
              </tr>
            }
            @for (user of users(); track $index) {
              <tr app-user-detail [user]="user" (userUpdated)="onUserUpdated($event)" (userDeleted)="onUserDeleted($event)"></tr>
            }
          </tbody>
        </table>
      </div>
  
      <!-- Pagination -->
      <div class="flex flex-col items-center border-t bg-white px-5 py-5 sm:flex-row sm:justify-between">
        <span class="text-xs text-gray-600 sm:text-sm"> Showing 1 to 5 of 12 Entries </span>
        <div class="mt-2 inline-flex sm:mt-0">
          <button class="mr-2 h-12 w-12 rounded-full border text-sm font-semibold text-gray-600 transition duration-150 hover:bg-gray-100">Prev</button>
          <button class="h-12 w-12 rounded-full border text-sm font-semibold text-gray-600 transition duration-150 hover:bg-gray-100">Next</button>
        </div>
      </div>
    </div>
  </div>